/*
Colors used:
Primary Color (Blue): #05676e;
Secondary Color (Green): #489c79;
*/
* {
  box-sizing: border-box;
}

header {
  background-color: #ffe4c4;
  text-align: center;
  padding: 10px 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

a {
  color: #ff7f50;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #cc6540;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
    transition: 0.2s opacity;
}

.button-contact {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s opacity;
  margin-left: 15px;
    transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
    transition: 0.2s opacity;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#my-work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#about-roman .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#about-roman {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#about-roman h1 {
  text-align: center;
  background-color: #ffe4c4;
}

#about-roman h2 {
  text-align: center;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#hero h3 {
  text-align: center;
}

#my-work h2 {
  text-align: center;
  /* Centers text */
}

#hero span {
  text-align: center;
}

.logo {
  max-width: 250px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a:visited {
  color: #ff7f50;
  text-decoration: none;
}

nav {
  display: inline-block width: 100%;
}

#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#header {
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.55);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.55);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.55);
}

#header {
  position: relative;
}

#social-icons svg {
  height: 200px;
  width: 200px;
}

#social-icons li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin-left: 0px;
}

#social-icons {
  margin-left: 0px;
  padding-left: 0px;
  text-align: center;
}

#button-contact {
  text-align: center;
}

#contact .container {
  text-align: center;
}

.footer-cta {
  margin: 0 auto;
  text-align: center;
}

.download-resume {
  margin: 0 auto;
  text-align: center;
}

.row svg {
  width: 100%;
max-width: 100%;
height: auto;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  body {
    font-size: 18px;
  }

  #hero {
    text-align: center;
  }

  #hero span {
    display: block;
  }

  #my-work h3 {
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .col-md-6 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }

  [class*="col-"] {
    float: left;
    padding: 10px 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .col-lg-5 {
    width: 41.66%;
    padding-left: 10px;
    padding-right: 10px;
  }


body {
  font-size: 18px;
}

#hero {
  text-align: center;
}

#hero span {
  display: block;
}

#my-work h3 {
  margin-top: 0px;
  margin-bottom: 15px;
}

#about-roman h1{
  text-align: center;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}


    /* ==============================
X-large devices (1440px or larger)
================================= */
    @media only screen and (min-width: 1440px) {}
